/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* reset css開始 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-color: #f8f8f8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}

/* reset css終了 */

/* header部分開始 */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
}
.main-side {
  display: flex;
  background-color: beige;
}
.post-index {
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
}

.devise-links {
  display: flex;
  position: absolute;
  right: 50px;
  font-size: 30px;

}

.devise-links li {
  margin-left: 20px;
}

.home-link {
  font-size: 40px;
  position: absolute;
  left: 80px;
}
.login,.logout,.sign-up {
  border: groove;
}

.user-home-link {
  font-size: 40px;
  margin: 0 auto;
}
/* header部分終了 */

/* fotter部分開始 */
footer {
  height: 200px;
  background-color: white;
}

.footer-home-link {
  font-size: 35px;
  display: block;
  text-align:center;
  margin: 20px 20px;
  color: black;

}
.footer-list {
  display: flex;
  justify-content: center;
}
.copyright {
  text-align:center;
  margin-top: 60px;
  color: black;
}

.footer-list li {
  margin: 10px;
  font-size: 20px;
}

.lists {
  color: black;
  
}
/* fotter部分終了 */

/* login */
.top-login {
  text-align: center;
  font-size: 40px;
  margin: 100px;
}
.registration-main {
  text-align: center;

}

.input-default {
  margin: 40px;
}
/* login */

/* sign-up */
.sign-up-base {
  text-align: center;

}
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* sign-up */
